@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.app-container {
    height: 100%;
    color: #515156;
}

.header {
    height: 7%;
}

.text-dimmed {
    color: #c1b656;
    opacity: 0.7;
}

h1, h2, h3 {
    color: #c1b656;
    font-family: 'Montserrat', sans-serif;
}

/* container for main part */

.main-container {
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
}

/* flashing message on copy */

.on-copy-message {
    font-size: 1rem;
}

/* hide / show on-copy-message and settings box
on small screens, do not render at all to prevent footer running away */

.visibility-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s linear;
}

.visibility-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.1s linear;
}

@media screen and (max-width: 770px) {
    .visibility-hidden {
        display: none;
    }
}

/* box for text */

.text-box {
    font-size: 1.5rem;
    max-width: 60%;
    font-family: 'Lora', serif;
}

@media screen and (max-width: 450px) {
    .text-box p {
        font-size: 1rem;
        text-align: start;
        transition: ease-in-out 0.1s;
    }
}

/* loader */

.loader-box {
    min-height: 72px;
}

.emoji-loader {
    font-size: 1rem;
    animation-duration: 2s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
  
@keyframes pulse {
from {
    font-size: 2rem;
}
50% {
    font-size: 3rem;
}
100% {
    font-size: 2rem;
}
}

/* upvote buttons */
.upvote-btn {
    background-color: white;
    border-color: white;
    font-size: 1.4rem;
    transition: linear 0.2s;
}

.upvote-btn:hover {
    font-size: 1.45rem;
    transition: linear 0.2s;
}

.upvote-btn:disabled {
    opacity: 0.5;
}

/* main control buttons */

.custom-btn {
    width: 60px;
    height: 45px;
    margin: 10px;
    border: 0;
    font-size: 1rem;
}

.custom-btn-filled {
    color: #F1F2EC;
    background-color: #c1b656;
}

.custom-btn-filled:hover {
    background-color: #515156;
}

.custom-btn-filled:disabled {
    color: #F1F2EC;
    background-color: #c1b656;
    opacity: 0.5;
}

.custom-btn-outline {
    color: #c1b656;
    background-color: #F1F2EC;
    border-color: #c1b656;
}

.custom-btn-outline:disabled {
    color: #c1b656;
    background-color: #F1F2EC;
    border-color: #c1b656;
}

.custom-btn-outline:hover {
    background-color: #c1b656;
}

.custom-btn-outline:hover:disabled {
    color: #c1b656;
    background-color: #F1F2EC;
    border-color: #c1b656;
    opacity: 0.5;
}

/* settings */

.settings-box {
    max-width: 500px;
    padding-left: 50px;
    text-align: left;
    padding-top: 1.7%;
}

.settings-column {
    margin-bottom: 1rem;
}

/* custon radio buttons */
[type=radio] {
    opacity: 0;
    display: none;
}

[type="radio"] + label{
    position:relative;
    padding-left:20px;
    cursor:pointer;
    display:inline-block;
    color:#515156;
    line-height:25px;
}

[type="radio"]:disabled + label{
    opacity: 0.5;
    transition: ease-in-out .1s;
}

[type="radio"] + label::before{
    content:"";
    position:absolute;
    left:0;
    top:7px;
    width:12px;
    height:12px;
    border-radius: 50%;
    border:1px solid #c1b656;
    background:#fff;

}

[type="radio"]:checked + label::after{
    content:"";
    position:absolute;
    left:3px;
    top:10px;
    width:6px;
    height:6px;
    border-radius:100%;
    background:#c1b656;
    transform:scale(1);
    opacity:1;
    transition:all .1s ease;
}

[type="radio"]:not(:checked) + label::after{
    content:"";
    position:absolute;
    left:4px;
    top:4px;
    width:12px;
    height:12px;
    border-radius:100%;
    background:#fff;
    transform:scale(0);
    opacity:0;
}




/* footer */

.footer {
    font-family: 'Montserrat', sans-serif;
}

.footer a {
    color: #515156;
}

.footer a:hover {
    color: #c1b656;
    transition: ease-in 0.15s;
}